
/source-code-android/.metadata
/prod
/script/simlog
/source-code-android/ConSonarBGX/.settings/org.eclipse.jdt.core.prefs
/source-code-android/ConSonarBGX/assets/desktop.ini
/source-code-android/ConSonarBGX/bin
/*.zip
/*.apk
/*.3gp
